.mui-scroll-wrapper{
            height: 38px;
        }
        .mui-scroll{
            width: auto;
        }
        .ttt>a{
            display: inline-block;
            padding: 5px 11px;
        }
        .ttt{
            white-space: nowrap;
        }